body {background-color: wheat}
h1   {color: red; background-color:aliceblue; padding-left: 10px;}
p    {color: red;}
img{
    padding: -50px; align-items: center;
}
ol{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}